{
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "env": {
    "targets": "node 16",
    "mode": "usage",
    "coreJs": 3
  }
}
