{
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    }
  },
  "env": {
    "targets": "node 16",
    "mode": "usage",
    "coreJs": 3
  }
}
